.splitL {
  left: 0;
  height: 100%;
  width: 70%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.splitR {
  right: 0;
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 1;
  margin-top: 10.5vh;
  overflow-x: hidden;
  padding-top: 20px;
}
